bitarray==2.9.3
bitstring==4.2.3
cffi==1.17.1
click==8.1.8
colorama==0.4.6
cryptography==44.0.0
ecdsa==0.19.0
esptool==4.8.1
intelhex==2.3.0
joblib==1.4.2
nltk==3.9.1
numpy==2.2.2
pycparser==2.22
pyserial==3.5
pywin32==306
PyYAML==6.0.2
reedsolo==1.7.0
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.1
six==1.17.0
threadpoolctl==3.5.0
tkinterdnd2==0.4.2
tqdm==4.67.1
